# dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock


# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# VSCode
.vscode/

# tests / coverage
coverage/
*.snap

# temp files
*.tmp
*.swp
